* {
    font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f6f6f6;
    border: 1px solid #dd7f1e;
  }

  ::-webkit-scrollbar-track-resizer {
    background: #dd7f1e;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dd7f1e;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c16d1a;
  }

.custom-bg-green {
    background-color: #48695c;
}

.custom-green {
    color: #48695c;
}

.custom-orange {
    color: #dd7f1e;
}

.custom-bg-orange {
    background-color: #dd7f1e;
}

.border-custom-orange {
    border-color: #dd7f1e;
}

.custom-gray {
    color: #949d99;
}

.accepted-bg {
    background-color: #DCE1DF;
}

.custom-lightgray {
    background-color: #f6f6f6;
}

.custom-red {
    color: #ff5757;
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: calc(100vh - 60px);
    width: 100%;
}

.bg-img-guest {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    width: 100%;
}

.login-bg {
    background-image: url("../bg-images/1.jpg");
}

.register-bg {
    background-image: url("../bg-images/2.jpg");
}

.homepage-bg {
    background-image: url("../bg-images/3.jpg");
}

.projects-bg {
    background-image: url("../bg-images/4.jpg");
}

.applications-bg {
    background-image: url("../bg-images/5.jpg");
}

input[type='checkbox']:checked + label {
    background-color: #48695c;
    color: white;
}

input[type='radio']:checked + label {
    background-color: #48695c;
    color: white;
}
